{% extends "shared/layout.html" %}

{% block content %}

    <img src="/static/img/apple-icon-144x144.png" style="float: left; max-width: 48px; margin-right: 20px;" alt="WLAN Pi">

    <h1><span class="font-semi-bold">Webstack:</span> <span class="smaller">A fullstack application with a RESTful backend service and interactive frontend UI.</span>
    </h1>

    <div style="clear:both;"></div>
    <br>
    <br>
    <p class="lead">
        The <a href="https://wlanpi.com/">WLAN Pi</a> web application. This is a work in progress.
    </p>
    <p class="lead">
        To get started with the API, check out <a href="/api">/api</a>.
    </p>
{% endblock %}